
body{
  background-color: #b015ea;
  background-image: url('../Imagenes/back.jpg');
}


header h1{
  text-align: center;
  border: solid;
  border-width: 2px;
  border-color: white;
  padding: 10px;

  background-color: #C044EE;
}

menu, footer, .adminMenu{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

menu ul, footer ul, .adminMenu ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.8em;
  margin-right: auto;
  margin-left: 15px;
}

.adminMenu ul{
  height: 100px;
}

menu ul li, footer ul li, .adminMenu ul li{
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  height: 100px;
}

.menuBoton{
  background-color: #C044EE;
  padding: 10px;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  color: black;
  border: solid 2px transparent;
  width: 100px;
  height: 40px;
  display: inline-block;
}

.menuBoton:hover{
  border: solid 2px white;
}

.formulario{
  background-color: #C044EE;
  padding: 10px;
  border-radius: 25px;
  margin-left: auto;
}

.formulario div{
  padding: 10px;
  font-size: 0.8em;
}

.formulario div:last-of-type{
  font-size: 0.6em;
}

.formulario img{
  border-radius: 25px;
  width: 200px;
  margin: 20px;
}

main .formulario, main .perfil, main .perfilFoto{
  width: 50%;
  margin: auto;
}

label, input, textarea{
  display: inline-block;
}

label{
  width: 30%;
}

textarea{
  vertical-align: text-top;
  width: 250px;
  height: 100px;
}

label+input+textarea{
  margin: 0 30% 0 4%;
}

.submit{
  margin: 10px;
  margin-left: auto;
}

.miniUsuario{
  background-color: #C044EE;
  border-radius: 25px;
  padding: 10px;
}

.imagenEnlace{
  width: 200px;
  border-radius: 25px;
  border: solid 3px transparent;
}

.imagenEnlace, .imagenPerfil, .imagenGaleria{
  border: solid 3px transparent;
}

.imagenEnlace:hover, form .imagenPerfil:hover, .imagenGaleria:hover{
  border: solid 3px #019fb6;
}

.imagenGaleria{
  padding: 10px;
  background-color: #C044EE;
  width: 250px;
  margin: 50px;
}

.miniUsuario p{
  text-align: center;
}

.miniUsuario button{
  margin-left: auto;
}

.miniUsuario div{
  display: flex;
  flex-direction: column;
}

.boton{
  float: left;
  margin: 5px;
}

.perfil, .perfilFoto{
  padding: 10px;
}

.perfilFoto div:first-of-type{
  display: flex;
  flex-direction: row;
}

.perfil .imagenPerfil, .perfilFoto .imagenPerfil{
  width: 400px;
  border-radius: 25px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

b{
  text-decoration: underline;
}

.resumenUsuario, .listaUsuarios{
  border: 2px dotted white;
  border-radius: 25px;
  padding: 10px;
  margin-top: 10px;
  background-color: #C044EE;
}

.resumenUsuario div{
  display: flex;
  flex-direction: row;
}

.resumenUsuario div form{
  margin: 10px;
}

.listaUsuarios{
  display: flex;
  flex-direction: row;
}

.listaUsuarios div:last-of-type{
  margin-left: auto;
}

.listaUsuarios div{
  margin: 15px;
  margin: auto;
  width: 25%;
}

.imagenPerfil{
  border-radius: 25px;
  background-color: lightgray;
}

.listaUsuarios .imagenPerfil{
  width: 100px;
}

.concursoDestacado .imagenPerfil{
  margin: 25px;
  width: 500px;
  height: 250px;
}

.perfil p, .perfilFoto p, .listaUsuarios div p{
  text-align: justify;
}

.concursoDestacado{
  background-color: #C044EE;
  border-radius: 25px;

  display: flex;
  flex-direction: row;


  margin:20px;
  margin-left: 0px;
  margin-right: 0px;
}

.subirFoto{
  background-color: #C044EE;
  border-color: black;
  border-radius: 25px;
  margin-left: 500px;
  margin-bottom: 10px;
}

.galeria{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.galeria div{
  margin: auto;
  width: 30%;

}

.galeria div div{
  background-color: #C044EE;
  border-radius: 25px;
  margin-left: 100px;
  text-align: center;

}

.imagenGaleria{
  border-radius: 25px;
  margin: 10px;
  width: 300px;
}

.botonEnlace{
  background: none;
  border: none;
  padding: 0;
  font-family: arial, sans-serif;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  font-size: 1em;
}

.labelEnlace{
  width: 85px;
}

.ganador{
  text-decoration: underline;
}

.nuevoComentario{
  margin: auto;
  width: 50%;
  margin: 10px;
}

.error{
  color: blue;
  font-size: 0.9em;
  text-align: center;
}

.adminFotos{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 50%;
}

.containerPlagio{
  background-color: #C044EE;
  border-radius: 25px;
  margin: 20px;
  padding: 10px;
}

.plagio{
  color: blue;
  text-align: center;
}

.parrafoPlagio{
  text-align: center;
}

.tituloFoto{
  padding: 10px;
}

.politica{
  background-color: #C044EE;
  border-radius: 25px;
  margin: 20px;
  padding: 10px;
}

h3{
  margin: 20px;
}



.politica h3{
  color: white;
  border-style: dotted;
  border-width: 2px;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
}


.concursoDestacado{
  display: none;
  transition: flex 4s;
}

.concursoDestacado.active{
  display: flex;
  flex-direction: row;
}

.botonDestacado{
  height: 50px;
  width: 30px;
  margin: 50px;
  margin-top: 125px;
}

.resumenDestacado{
  border: solid;
  border-radius: 25px;
  border-color: white;
  border-style: dotted;
  padding: 10px;
  margin: 5px;
  background-color: orchid;
}

.resumenPage{
  background-color: orchid;
  border-radius: 25px;
  text-align: center;
}

.resumenFoto{
    border: solid;
    border-radius: 25px;
    border-color: white;
    border-style: dotted;
    background-color: orchid;

    height: 150px;
}

.imagenGaleria{
  height: 200px;
  width: 300px;
}

.ganador, .noGanador{
  padding: 5px;
}
