
body{
  background-color: #b015ea;
}

header h1{
  text-align: center;
}

menu, footer, .adminMenu{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

menu ul, footer ul, .adminMenu ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.8em;
  margin-right: auto;
  margin-left: 15px;
}

menu ul li, footer ul li, .adminMenu ul li{
  list-style-type: none;
  margin: 10px;
  padding: 5px;
}

.menuBoton{
  background-color: #C044EE;
  padding: 10px;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  color: black;
  border: solid 2px transparent;
  width: 100px;
  height: 40px;
  display: inline-block;
}

.menuBoton:hover{
  border: solid 2px black;
}

.formulario{
  background-color: #C044EE;
  padding: 10px;
  border-radius: 25px;
  margin-left: auto;
}

.formulario div{
  padding: 10px;
  font-size: 0.8em;
}

.formulario div:last-of-type{
  font-size: 0.6em;
}

.formulario img{
  border-radius: 25px;
  width: 200px;
  margin: 20px;
}

main .formulario, main .perfil{
  width: 50%;
  margin: auto;
}

label, input, textarea{
  display: inline-block;
}

label{
  width: 30%;
}

textarea{
  vertical-align: text-top;
  width: 250px;
  height: 100px;
}

label+input+textarea{
  margin: 0 30% 0 4%;
}

.submit{
  margin: 10px;
  margin-left: auto;
}

.miniUsuario{
  background-color: #C044EE;
  border-radius: 25px;
  padding: 10px;
}

.miniUsuario .imagenEnlace{
  width: 200px;
  border-radius: 25px;
  border: solid 3px transparent;
}

.miniUsuario .imagenEnlace:hover{
  border: solid 3px #019fb6;
}


.miniUsuario p{
  text-align: center;
}

.miniUsuario button{
  margin-left: auto;
}

.miniUsuario div{
  display: flex;
  flex-direction: column;
}

.boton{
  float: left;
  margin: 5px;
}

main{
  background-color: #C044EE;
  border-radius: 25px;
}

.perfil{
  padding: 10px;
}

.perfil .imagenPerfil{
  width: 400px;
  border-radius: 25px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.perfil .resumenUsuario{
  border: 1px dotted black;
  border-radius: 25px;
  padding: 10px;
  margin-top: 10px;
}

.perfil p{
  text-align: justify;
}
